* {
box-sizing: border-box;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
}
h1 {
    text-align: center;
}
.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    width: 20%; 
    height: 20%;
    margin: 50px auto;
    object-fit: contain;
    align-self: center;

}
.vertikalne, .horizontalne, .kockaste {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}