nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

h1 {
  text-align: center;
}

div {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

div a {
    color: white;
}
